:root {
    --white: hsl(0, 0%, 100%);
    --pink: hsl(275, 100%, 97%);
    --purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
}

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    color: var(--dark-purple);
}

h2 {
    font-weight: 600;
    color: var(--dark-purple);
}

p {
    font-weight: 400;
    color: var(--purple);
    opacity: 0.7;
}



/* Elements */
main {
    background-color: var(--pink);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* To prevent scrollbars */
}


/* Classes */
.image-background {
    content: url("assets/images/background-pattern-mobile.svg");
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 30vh;
    top: 0;
    left: 0;
    z-index: 0;
}

.head {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.bottom-line {
    border-bottom: 1px solid var(--pink);
}

.accordion {
    background-color: white;
    width: 75%;
    max-width: 650px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.accordion-item {

    margin: 20px 0;
}

.accordion-content {
    margin: 16px 0;
}

.accordion-header {

}


/* Desktop view*/
@media only screen and (min-width: 600px) {
    .image-background {
        content: url("assets/images/background-pattern-desktop.svg");

    }

    .accordion {
        width: 80%;;
    }


}



